{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

{% for user in users %}
<div class = "grid-container">
    <div class = "image-container">
        
    </div>
    <div class = "user-info-container">
        <h6>{{user.first_name}} {{user.last_name}}</h6>
        <p><img src = "{{url_for('static',filename = 'icons/per.png')}}"   height = '30' width = '30'>{{user.gender}}</p>
        <p><img src = "{{url_for('static',filename = 'icons/loc.png')}}" height = '30' width = '30'>{{user.location}}</p>
    </div>
    <div class = "view-profile-button">
        <a href = "{{url_for('userProfile',userid = user.id)}}">
            <button id =>View Profile</button>
        </a>
    </div>
</div>
<br>
{% endfor %}

{% endblock %}